@use 'base.scss';
@use 'fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: 16px;
  overflow-y: auto;
}

#app {
  height: auto;
}

.dark {
  color-scheme: dark;
}

[data-theme='dark'] {
  color: #ffffff;
}

.scroll-bar {
  &::-webkit-scrollbar {
    background: transparent;
    height: 0.6em;
    width: 0.6em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    background-color: #dddddd;
  }

  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
}

[data-theme='dark'].scroll-bar {
  &::-webkit-scrollbar {
    background: transparent;
    height: 0.6em;
    width: 0.6em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
  }

  &::-webkit-scrollbar-track {
    background-color: #272727;
  }
}
